/* Give your page a fun background color */
html{
    background-color: blue;
}

/* Make the header and footer a different color from the background */
header.top{
    background-color: black; 
}
footer{
    margin-left: 250px; 
    margin-right: 250px;  
}
footer.bottom{
    background-color: grey; 
}
/* Align the h1 containing your name in the center of the header*/
header,h1{
    text-align: center; 
    margin-top: 50px; 
    color: white; 
}
/* Make your p tag a different color and italic */
footer,p{
    text-emphasis-color: black;
    margin: center;
    margin-left: 250px; 
    margin-right: 250px;  

}
/* Put a border around your image */
img{
    width: 300px; 
    height: 300px;
    border: solid 4px white;
    display: block; 
    margin: auto; 

}

/* Change the font-family of your list */
ul{
    list-style-position: inside; 
}

ul li{ 
    font-family: cursive; 
    text-align: left; 
    margin-left: 41%; 
     
    
}